body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
}

nav {
    color: #1F1F1F;
    display: flex;
    padding: 10px 0px;
    margin: 0;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

img {
    max-height: 350px;
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

img.loaded {
    opacity: 1;
}

#recipe {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 999;
}
#rr {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#rr:hover {
    background-color: #0056b3;
}
input[type="submit"] {
    display: block;
    margin: auto;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
#btn2 {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#btn2:hover {
    background-color: #0056b3;
}
#storage {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#storage:hover {
    background-color: #0056b3;
}
#taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

